body{
    font-family: monospace;
    color: white;
    background-color: black;

}

.cine-1{
    color: red;
    font-family:Arial;
    font-size: 15px;

}
.cine-2{
    color: yellow;
    font-family:'Times New Roman';
    font-size: 30px;

}
.cine-3{
    color: orange;
    font-family:Georgia;
    font-size: 20px;

}
#parrafo-especial{

    color: blueviolet;
    font-family:Georgia;
    font-size: 32px;

}
img {
    width: 330px;
    
}
     
